In [ ]:
import pandas as pd

In [ ]:
#import listing data#############################LISTING
lst1 = pd.read_csv("listings_sep.csv.gz", compression = "gzip")
lst2 = pd.read_csv("listings_dec.csv.gz", compression = "gzip")
lst3 = pd.read_csv("listings_mar.gz", compression = "gzip")
lst4 = pd.read_csv("listings.csv.gz", compression = "gzip")

In [ ]:
#check that they all have the same columns
print(lst1.columns)
print(lst2.columns)
print(lst3.columns)
print(lst4.columns)

In [ ]:
#check row and column counts
print(lst1.shape)
print(lst2.shape)
print(lst3.shape)
print(lst4.shape)

In [ ]:
lst1=lst1.drop(['source'], axis=1)

In [ ]:
#combine all quarters into one dataframe
fdf = pd.concat([lst1, lst2, lst3, lst4])
#make sure row and column counts look as expected
print(fdf.shape)

(153199, 74)

In [ ]:
drop = ['listing_url', 'scrape_id', 'last_scraped','picture_url',
         'host_url', 'host_about', 'host_thumbnail_url', 'host_picture_url','latitude','longitude','maximum_minimum_nights','minimum_maximum_nights'
        ,'minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','calendar_updated', 'availability_30','availability_60','availability_90','availability_365'
        ,'calendar_last_scraped','first_review','last_review','bathrooms','license']

In [ ]:
# Dropping all the columns I don't want
fdf = fdf.drop(drop, axis=1)

In [ ]:
#Separate Data Types
cat_df = fdf.select_dtypes(include=['object', 'bool'])

In [ ]:
#cat_cols = fdf.select_dtypes(include=['object', 'bool']).columns.values

In [ ]:
#cat_cols

array(['name', 'description', 'neighborhood_overview', 'host_name',
       'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
       'property_type', 'room_type', 'bathrooms_text', 'amenities',
       'price', 'has_availability', 'instant_bookable'], dtype=object)

In [ ]:
# Converting the response rate to float
def repl(m): return m.group(1)

cat_df['host_response_rate'] = cat_df['host_response_rate'].str.replace(
    r'(\d+)%', repl).astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
#cat_df['host_response_rate'].head(10)

In [ ]:
cat_df['host_acceptance_rate'] = cat_df['host_acceptance_rate'].str.replace(
    r'(\d+)%', repl).astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#cat_df['host_acceptance_rate'].head(10)

In [ ]:
cat_df['price'] = cat_df["price"].str.replace('$','').str.replace(',','').astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#price to int /
#hostsince to date
#host_response_rate', 'host_acceptance_rate'?? %  should be numeric????

In [ ]:
num_df = fdf.select_dtypes(include=['int', 'float'])
num_cols = fdf.select_dtypes(include=['int', 'float']).columns.values

In [ ]:
#num_cols

array(['id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'accommodates', 'bedrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype=object)

In [ ]:
#id?  host id?

In [ ]:
dtyped_df = pd.concat([num_df, cat_df], axis=1)

In [ ]:
#bi_cols = []
#for col in dtyped_df.columns:
    #if dtyped_df[col].nunique() == 2:
        #bi_cols.append(col)

In [ ]:
#cat_df[bi_cols].head()

,host_is_superhost,host_has_profile_pic,host_identity_verified,has_availability,instant_bookable
0,f,t,t,t,f
1,f,t,t,t,f
2,t,t,t,t,f
3,f,t,t,t,f
4,f,t,t,t,f

In [ ]:
#for col in bi_cols:
    #dtyped_df[col] = dtyped_df[col].map({'f': 0, 't': 1})

In [ ]:
fdf1=dtyped_df

In [ ]:
#fdf1.amenities.unique

In [ ]:
#def striplist(l):
    #return([x.strip() for x in l])


#fdf1['host_verifications'] =fdf1['host_verifications'].str.replace('[', '').str.replace(']', '').str.replace("'",'').str.lower().str.split(',').apply(striplist)

In [ ]:
#fdf1['amenities'] = fdf1['amenities'].str.replace('{', '').str.replace('}','').str.replace('"', '').str.lower().str.split(',').apply(striplist)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
#from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
#mlb = MultiLabelBinarizer()
#amenities_df = pd.DataFrame(mlb.fit_transform(fdf1['amenities']), columns=mlb.classes_, index=fdf1.index)

In [ ]:
#amenities_df

In [ ]:
#host_verif_df = pd.DataFrame(mlb.fit_transform(fdf1['host_verifications']), columns=mlb.classes_, index=fdf1.index)

In [ ]:
#host_verif_df = host_verif_df.drop(axis=1, labels=[''])

In [ ]:
#amenities_df = amenities_df.drop(axis=1, labels=[''])

In [ ]:
#fdf2 = fdf1.drop(['host_verifications', 'amenities'], axis=1)

In [ ]:
#fdf3 = pd.concat([fdf1, amenities_df, host_verif_df], axis=1)

In [ ]:
#fdf1['first_review'] = pd.to_datetime(fdf1['first_review']) 
#fdf1['last_review'] = pd.to_datetime(fdf1#['last_review'])

In [ ]:
# identify columns with numeric values
#fdf1.select_dtypes(include = ['bool']).columns

Index([], dtype='object')

In [ ]:
fdf1.shape

(148797, 49)

In [ ]:
fdf1.isnull().sum()/len(fdf)

id                                              0.0
host_id                                         0.0
host_listings_count                             0.0
host_total_listings_count                       0.0
accommodates                                    0.0
bedrooms                                        0.0
beds                                            0.0
minimum_nights                                  0.0
maximum_nights                                  0.0
minimum_minimum_nights                          0.0
number_of_reviews                               0.0
number_of_reviews_ltm                           0.0
number_of_reviews_l30d                          0.0
review_scores_rating                            0.0
review_scores_accuracy                          0.0
review_scores_cleanliness                       0.0
review_scores_checkin                           0.0
review_scores_communication                     0.0
review_scores_location                          0.0
review_scores_value                             0.0
calculated_host_listings_count                  0.0
calculated_host_listings_count_entire_homes     0.0
calculated_host_listings_count_private_rooms    0.0
calculated_host_listings_count_shared_rooms     0.0
reviews_per_month                               0.0
name                                            0.0
description                                     0.0
neighborhood_overview                           0.0
host_name                                       0.0
host_since                                      0.0
host_location                                   0.0
host_response_time                              0.0
host_response_rate                              0.0
host_acceptance_rate                            0.0
host_is_superhost                               0.0
host_neighbourhood                              0.0
host_verifications                              0.0
host_has_profile_pic                            0.0
host_identity_verified                          0.0
neighbourhood                                   0.0
neighbourhood_cleansed                          0.0
neighbourhood_group_cleansed                    0.0
property_type                                   0.0
room_type                                       0.0
bathrooms_text                                  0.0
amenities                                       0.0
price                                           0.0
has_availability                                0.0
instant_bookable                                0.0
dtype: float64

In [ ]:
fdf1.isnull().sum()

id                                              0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
name                                            0
description                                     0
neighborhood_overview                           0
host_name                                       0
host_since                                      0
host_location                                   0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_neighbourhood                              0
host_verifications                              0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood                                   0
neighbourhood_cleansed                          0
neighbourhood_group_cleansed                    0
property_type                                   0
room_type                                       0
bathrooms_text                                  0
amenities                                       0
price                                           0
has_availability                                0
instant_bookable                                0
dtype: int64

In [ ]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153199 entries, 0 to 37409
Data columns (total 49 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   id                                            153199 non-null  int64
 1   host_id                                       153199 non-null  int64
 2   host_listings_count                           152962 non-null  float64
 3   host_total_listings_count                     152962 non-null  float64
 4   accommodates                                  153199 non-null  int64
 5   bedrooms                                      137989 non-null  float64
 6   beds                                          147990 non-null  float64
 7   minimum_nights                                153199 non-null  int64
 8   maximum_nights                                153199 non-null  int64
 9   minimum_minimum_nights                        153134 non-null  float64
 10  number_of_reviews                             153199 non-null  int64
 11  number_of_reviews_ltm                         153199 non-null  int64
 12  number_of_reviews_l30d                        153199 non-null  int64
 13  review_scores_rating                          118410 non-null  float64
 14  review_scores_accuracy                        116347 non-null  float64
 15  review_scores_cleanliness                     116388 non-null  float64
 16  review_scores_checkin                         116327 non-null  float64
 17  review_scores_communication                   116365 non-null  float64
 18  review_scores_location                        116315 non-null  float64
 19  review_scores_value                           116313 non-null  float64
 20  calculated_host_listings_count                153199 non-null  int64
 21  calculated_host_listings_count_entire_homes   153199 non-null  int64
 22  calculated_host_listings_count_private_rooms  153199 non-null  int64
 23  calculated_host_listings_count_shared_rooms   153199 non-null  int64
 24  reviews_per_month                             118410 non-null  float64
 25  name                                          153145 non-null  object
 26  description                                   149268 non-null  object
 27  neighborhood_overview                         90954 non-null   object
 28  host_name                                     152962 non-null  object
 29  host_since                                    152962 non-null  object
 30  host_location                                 145829 non-null  object
 31  host_response_time                            94929 non-null   object
 32  host_response_rate                            94929 non-null   float64
 33  host_acceptance_rate                          100648 non-null  float64
 34  host_is_superhost                             152983 non-null  float64
 35  host_neighbourhood                            122416 non-null  object
 36  host_verifications                            153199 non-null  object
 37  host_has_profile_pic                          152962 non-null  float64
 38  host_identity_verified                        152962 non-null  float64
 39  neighbourhood                                 90958 non-null   object
 40  neighbourhood_cleansed                        153199 non-null  object
 41  neighbourhood_group_cleansed                  153199 non-null  object
 42  property_type                                 153199 non-null  object
 43  room_type                                     153199 non-null  object
 44  bathrooms_text                                152831 non-null  object
 45  amenities                                     153199 non-null  object
 46  price                                         153199 non-null  float64
 47  has_availability                              153199 non-null  int64
 48  instant_bookable                              153199 non-null  int64
dtypes: float64(19), int64(14), object(16)
memory usage: 58.4+ MB

In [ ]:
import numpy as np
from numpy import mean


mean = ['review_scores_accuracy', 'review_scores_checkin', 'review_scores_location',
                   'review_scores_value', 'review_scores_cleanliness','review_scores_communication',
                  'review_scores_rating']

for x in mean:
    fdf1[x] =np.where(fdf1[x].isnull(), fdf1[x].mean(), fdf1[x])

In [ ]:
# change null reviews_per_month, host_acceptance_rate  to 0

fill_in_missing = ['host_listings_count',
                  'reviews_per_month', 'host_acceptance_rate', 'host_total_listings_count']

for miss in fill_in_missing:
    fdf1[miss] =np.where(fdf1[miss].isnull(), 0, fdf1[miss])

In [ ]:
fdf1.host_response_time.unique

<bound method Series.unique of 0            within an hour
1              within a day
2            within an hour
3            within an hour
4                       NaN
                ...
37405        within an hour
37406        within an hour
37407        within an hour
37408        within an hour
37409    within a few hours
Name: host_response_time, Length: 153199, dtype: object>

In [ ]:
fdf1.host_response_time.value_counts()

within an hour        113948
within a few hours     22062
within a day           12939
a few days or more      4250
Name: host_response_time, dtype: int64

In [ ]:
pd.set_option('display.max_columns',None)
fdf1.describe()

In [ ]:
fdf1.host_response_time.mode()

0    within an hour
dtype: object

In [ ]:
mode = ['host_response_time']

for x in mode:
    fdf1[x] =np.where(fdf1[x].isnull(), fdf1[x].mode(), fdf1[x])

In [ ]:
# change null host_response_rate to 999,discard during analsis 

fill_in = ['host_response_rate']

for a in fill_in:
    fdf1[a] =np.where(fdf1[a].isnull(), 9999, fdf1[a])

In [ ]:
# change missing neighbourhood, host_neighbourhood, host_location and to "Unknown"

fill2 = ['neighbourhood', 'host_neighbourhood', 'host_location','neighborhood_overview']

for var in fill2:
    fdf1[var] =np.where(fdf1[var].isnull(), 'Unknown', fdf1[var])

In [ ]:
# Replace missing values with 1. It is unlikely there are zero bathrooms, bedrooms or beds in a listing. Assume there is at least 1

fill3 = ['bedrooms', 'beds' ]

for v in fill3:
    fdf1[v] =np.where(fdf1[v].isnull(), 1, fdf1[v])

In [ ]:
fdf1=fdf1.dropna().reset_index(drop=True)#(148797, 49)

In [ ]:
dummy1=pd.get_dummies(fdf1[['host_response_time']],drop_first=True)
dummy1.describe()

,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour
count,148797.000000,148797.000000,148797.000000
mean,0.084881,0.146011,0.742233
std,0.278705,0.353118,0.437407
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000
75%,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000

In [ ]:
fdf2=pd.concat([fdf1,dummy1],axis=1)
fdf2.describe(include='all')

,id,host_id,host_listings_count,host_total_listings_count,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,name,description,neighborhood_overview,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,bathrooms_text,amenities,price,has_availability,instant_bookable,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour
count,1.487970e+05,1.487970e+05,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,1.487970e+05,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797,148797,148797,148797,148797,148797,148797,148797.000000,148797.000000,148797.000000,148797,148797,148797.000000,148797.000000,148797,148797,148797,148797,148797,148797,148797,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000,148797.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53973,54335,24755,11144,4635,3187,4,NaN,NaN,NaN,671,539,NaN,NaN,250,245,5,90,4,33,124416,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cozy room@Queens! Same area W/Target,Costco, IKEA",Welcome to UNTITLED (Adj.) at 3 Freeman Alley!...,Unknown,Blueground,2016-12-16,"New York, New York, United States",within an hour,NaN,NaN,NaN,Unknown,"['email', 'phone']",NaN,NaN,Unknown,Bedford-Stuyvesant,Manhattan,Entire rental unit,Entire home/apt,1 bath,"[""Long term stays allowed""]",NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116,250,58307,1484,1518,58496,110442,NaN,NaN,NaN,29079,67340,NaN,NaN,58307,10770,63954,63350,82929,78422,492,NaN,NaN,NaN,NaN,NaN,NaN
mean,5.144066e+16,1.217684e+08,61.024120,67.148363,2.882672,1.312150,1.602479,20.181146,5.942576e+04,20.691916,25.771017,6.607620,0.620792,4.613051,4.749506,4.625227,4.816334,4.810132,4.747921,4.650836,16.632036,9.231396,7.279206,0.054329,1.011423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3815.999778,52.954051,0.200185,NaN,NaN,0.990699,0.840118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.116147,0.862000,0.265792,0.084881,0.146011,0.742233
std,1.706782e+17,1.378374e+08,385.184756,427.939239,1.944009,0.696702,1.106255,30.653709,1.113514e+07,38.275938,54.270842,17.399304,1.749709,0.677695,0.414122,0.484007,0.367110,0.388418,0.356208,0.436082,55.061337,43.768297,32.660086,0.548103,2.474501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4798.311671,44.086222,0.400140,NaN,NaN,0.095994,0.366498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.614968,0.344901,0.441755,0.278705,0.353118,0.437407
min,2.539000e+03,2.438000e+03,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.402802e+07,1.206176e+07,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,6.000000e+01,2.000000,1.000000,0.000000,0.000000,4.608960,4.747570,4.623031,4.814975,4.808163,4.740000,4.649015,1.000000,0.000000,0.000000,0.000000,0.020000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,0.000000,0.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,3.368462e+07,5.150184e+07,1.000000,1.000000,2.000000,1.000000,1.000000,30.000000,3.650000e+02,30.000000,5.000000,0.000000,0.000000,4.710000,4.800000,4.660000,4.880000,4.890000,4.750000,4.670000,1.000000,1.000000,0.000000,0.000000,0.240000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,70.000000,0.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,4.962995e+07,2.047046e+08,4.000000,4.000000,4.000000,1.000000,2.000000,30.000000,1.125000e+03,30.000000,24.000000,5.000000,0.000000,4.950000,5.000000,4.940000,5.000000,5.000000,5.000000,4.890000,4.000000,1.000000,1.000000,0.000000,1.170000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,98.000000,0.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,7.098549e+17,4.782606e+08,4022.000000,6958.000000,16.000000,16.000000,42.000000,1250.000000,2.147484e+09,1250.000000,1480.000000,1010.000000,160.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,453.000000,453.000000,359.000000,19.000000,141.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,100.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16500.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
fdf2=fdf2.drop(['host_response_time'], axis=1)

In [ ]:
fdf2.amenities.head()

0    ["First aid kit", "Microwave", "Stove", "Coffe...
1    ["Stove", "Coffee maker", "Long term stays all...
2    ["Hair dryer", "Essentials", "Carbon monoxide ...
3    ["Hair dryer", "Cable TV", "Refrigerator", "BB...
4    ["First aid kit", "Essentials", "Breakfast", "...
Name: amenities, dtype: object

In [ ]:
len(fdf2.amenities)

148797

In [ ]:
fdf2.host_verifications.head()

0                  ['email', 'phone']
1    ['email', 'phone', 'work_email']
2                  ['email', 'phone']
3                  ['email', 'phone']
4                  ['email', 'phone']
Name: host_verifications, dtype: object

In [ ]:
''' 
This function takes lists of lists and outputs a list of the unique items with an associated count.

Inputs:  
column_name = the variable to be evaluated
variable_name = the variable name in quotes (the same one used in )

Output
An array containing individual features. 

'''

def get_column_name_list(column, variable_name):
    
    col_list=[]
    for col in column:
        col=col.replace('"','')
        col=col.replace('{','')
        col=col.replace('}','')
        col=col.replace('[','')
        col=col.replace(']','') 
        #col=col.replace(' '','')
        #col=col.replace('}','')       
        #col=col.replace("translation missing: en.hosting_amenity_49", 'Unknown amenity')
        #col=col.replace("translation missing: en.hosting_amenity_50", 'Unknown amenity')
        col_list += col.split(',')

    #Transform list into a data frame
    col_list2=pd.DataFrame(col_list) 
    
    #rename the column as variable_name
    col_list2.rename(columns={0:variable_name},inplace=True) 

    #group by category and count
    col_list2=col_list2.groupby(variable_name)[variable_name].count().sort_values(ascending=False)
    
    #Rename varible_name column as count
    col_list2.rename({variable_name:'count'},inplace=True) 

    return col_list2

In [ ]:
# Use the get_column_name_list function to  amenities

amenities=get_column_name_list(fdf2.amenities, 'amenities')

amenities

amenities
 Wifi                                        141058
 Long term stays allowed                     133838
 Smoke alarm                                 132255
 Kitchen                                     125763
 Heating                                     117209
                                              ...
 Organic - mint - brands only conditioner         1
 Organic - mint - brands only shampoo             1
 Organic Avalon tea tree shampoo  shampoo         1
 Organic Goat Milk Soap body soap                 1
x body soap                                       1
Name: amenities, Length: 6453, dtype: int64

In [ ]:
fdf2.amenities[0]
#len(fdf2.amenities.to_list()[0])

'["First aid kit", "Microwave", "Stove", "Coffee maker", "Long term stays allowed", "Carbon monoxide alarm", "TV with standard cable", "Essentials", "Oven", "Hot water", "Outlet covers", "Heating", "Smoke alarm", "Fire extinguisher", "Free street parking", "Keypad", "Free parking on premises", "Extra pillows and blankets", "Cleaning before checkout", "Dishes and silverware", "Hair dryer", "Cable TV", "Refrigerator", "Bed linens", "Cooking basics", "Hangers", "Luggage dropoff allowed", "Iron", "Elevator", "Shampoo", "Kitchen", "Dryer", "Washer", "Wifi"]'

In [ ]:
dft = pd.DataFrame([fdf2.amenities])
dft.head

In [ ]:
dft["count"] = dft["amenities"].apply(lambda x: len(x.split(",")))
print(dft)